/* USER-PASSWORD-COMPONENT STYLES*/

.form-width{
    width: 75%;

}

@media screen and (min-width: 576px) {
    .form-width{
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .form-width{
        width: 25%;
    }
}

/*DASHBOARD-MOBILE-COMPONENT STYLES*/
.mobile-container{
    background-color: grey;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.heading-portion{
    
    min-height: 10%;
}

.body-portion{

    min-height: 80%;
}

.footer-portion{

    min-height: 10%;
}