/* USER-PASSWORD-COMPONENT STYLES*/

.form-width{
    width: 75%;

}

@media screen and (min-width: 576px) {
    .form-width{
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .form-width{
        width: 25%;
    }
}

/*DASHBOARD-MOBILE-COMPONENT STYLES*/
.mobile-container{
    background-image:linear-gradient(black, rgb(75, 75, 75));
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mobile-container > *{
    padding: 0;
    margin: 0;
}


.heading-portion{
    
    height: 10%;
}

.body-portion{

    height: 80%;
}

.footer-portion{

    height: 10%;
}

.material-symbols-outlined{
    font-size: 36px;
}
